<h3>PackageExtendAppointmentObject</h3>

@code {
    [Parameter]
    public PackageExtendDto packageExtendDto { get; set; }

    [Parameter]
    public EventCallback<PackageExtendDto> packageExtendDtoChanged { get; set; }


}
